{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="full-width-block section">
    <div class="header-container style-index-nmai">

        <div class="style-image-index-main">
            <p>Ведення нотаток може значно полегшити ваш робочий та особистий життя, допомагаючи вам бути більш організованим та продуктивним.</p>
            <img src="{% static 'img/notepads-glasses-top-view.jpg' %}" alt="Опис зображення">
        </div>
    </div>
</div>

{% endblock content %}

